* {
  box-sizing: border-box;
}

.category-tile { 
  border: 0px solid #3F0C1F;
  overflow: hidden;
  margin: 0 auto 15px;
  background-color: #BBB;
  height: 1000px;
}

.category-tile h2 {
  font-size: 1.7em;
  width: 100%;
  text-align: center;
  color: #000;
}

.category-tile span {
  width: 100%;
  text-align: left;
  color: #000;
}

#nav-list a:hover {
  background: #E7E7E7;